<div class="container-fluid">
    <div class="row d-flex header-main shadow rounded">
        <div class="col-4 justify-content-start d-flex">
            <a href="#" title="Viki News Logo">
                <div class="logo-img">
                <img src="assets\img\logo new.png" alt="viki news logo" class="rounded-circle p-2">
                </div>
            </a>

            <div class="serach-box1 d-flex">
                <input type="text" placeholder="Type to Serach....">
                <button type="button" ><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

        </div>
        <div class="col-4  d-flex justify-content-centre main-name">
            <a href="#" title="Viki News Homepage">
                <img src="assets\img\Viki main name.png" alt="Home Page">
            </a>
        </div>
        <div class="col-4 justify-content-end d-flex icon-right">
            <a href="#" title="Icons"><div class="subscribe rounded-pill mr-2">Subscribe</div></a>
            <a href="#" title="Icons"><div class="fb-icon rounded-circle mr-2"><i class="fa-brands fa-facebook"></i></div></a>
            <a href="#" title="Icons"><div class="fb-icon rounded-circle mr-2"><i class="fa-brands fa-instagram"></i></div></a>
            <a href="#" title="Icons"><div class="fb-icon rounded-circle mr-2"><i class="fa-brands fa-twitter"></i></div></a>
            <a href="#" title="Menu"><div class="menu-icon rounded-circle mr-2"><i class="fa-solid fa-bars"></i></div></a>
        </div>
    </div>
</div>