<div class="container-fluid">
    <!--header-->
    <div class="row d-flex header-main shadow rounded">
        <div class="col-lg-3  col-md-2 col-sm-3 justify-content-start d-flex">
            <a href="#" title="Viki News Logo">
                <div class="logo-img">
                <img src="assets\img\logo new.png" alt="viki news logo" class="rounded-circle p-2">
                </div>
            </a>

            <div class="serach-box1 d-none d-lg-flex ">
                <input type="text" placeholder="Type to Serach....">
                <button type="button" ><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="icon-left d-flex d-lg-none">
                <a href="#" title="Serach"><div><i class="fa-solid fa-magnifying-glass"></i></div></a>
            </div>

        </div>
        <div class="col-lg-5  col-md-6 col-sm-7 d-flex justify-content-centre main-name">
            <a href="#" title="Viki News Homepage">
                <img src="assets\img\Viki main name.png" alt="Home Page" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-2 d-flex justify-content-end icon-right">
            <div class="d-none d-md-flex">
                <a href="#" title="Icons"><div class="subscribe rounded-pill mr-2">Subscribe</div></a>
            </div>
            <div class="d-md-flex d-none">
                <a href="#" title="Icons"><div class="fb-icon rounded-circle mr-2"><i class="fa-brands fa-facebook"></i></div></a>
                <a href="#" title="Icons"><div class="fb-icon rounded-circle mr-2"><i class="fa-brands fa-instagram"></i></div></a>
                <a href="#" title="Icons"><div class="fb-icon rounded-circle mr-2"><i class="fa-brands fa-twitter"></i></div></a>
            </div>
            <a href="#" title="Menu"><div class="menu-icon rounded-circle"><i class="fa-solid fa-bars"></i></div></a>
        </div>
    </div>
    <div class="row d-none nav-row d-md-flex">
        <div class="col d-flex justify-content-center">
            <div *ngFor="let nav of navtab">
                <a href="#" [title]="nav.name"><div class="nav-tab d-flex mx-2">{{nav.name}}</div></a>
            </div>

        </div>
    </div>
    <div class="row d-flex nav-row d-md-none ">
        <div class="col d-flex justify-content-around">
            <div class="subscribe-row-2">
                <a href="#" title="Icons"><div>Category</div></a>
            </div>
            <div class="d-flex icon-row-2">
                <a href="#" title="Icons"><div class="rounded-circle mx-3"><i class="fa-brands fa-facebook"></i></div></a>
                <a href="#" title="Icons"><div class="rounded-circle mx-3"><i class="fa-brands fa-instagram"></i></div></a>
                <a href="#" title="Icons"><div class="rounded-circle mx-3"><i class="fa-brands fa-twitter"></i></div></a>
            </div>
            <div>
                <a href="#" title="Subscribe"><div class="nav-tab d-flex">Subscribe</div></a>
            </div>

        </div>
    </div>
    <!--header-end-->

    <app-mainbody></app-mainbody>

    <!--footer-->
 <div class="row footer mt-3 ">
    <div class="col mx-2 d-flex flex-wrap">
        <div class="d-flex footer-text mx-2" *ngFor="let f of footer">
            <a href="#" [title]="f.name"><span>{{f.name}}</span></a>
            <span class="gap ml-2"></span>
        </div>
        <div class="d-flex footer-text mx-2">
            <a href="#" title="footer"><span>Ekqoop.LLC.</span></a>
        </div>

    </div>
 </div>
    <!--footer-end-->
</div>                                           